# Ignore all files
*

# Unignore all files with extensions
!*.*

# Unignore all directories
!*/

# Ignore emacs autosave and modified files
*~
**/*~
**/\#*

# Ignore object files and libraries
*.o
*.out
*.ko
*.obj
*.elf